@import url('normalize.css');
@import url('magnific-popup.css');
@import url('materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@import url('color-icons.css');
@import url('navbar.css');
@import url('home.css');
@import url('section.css');
@import url('skills.css');
@import url('works.css');
@import url('aboutme.css');
@import url('contact.css');
@import url('social-network.css');

html {
	scroll-behavior: smooth;
}

body {
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 160%;

	/* background-color: #212529; */
	background-color: rgb(24, 26, 27);
	/* background-color: rgb(16, 14, 23); */
}

a {
	text-decoration: none;
	color: #fff;
}

img .icon {
	background-color: transparent;
	width: fit-content;
}

.shade {
	width: 100%;
	height: 100%;
	position: absolute;
	/* setting to 0 since its position is already absolute */
	top: 0;
	/* half transparent */
	background-color: rgba(0, 0, 0, 0.6);
	transition: background-color 0.15s ease-in-out;
}

.btn {
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0 40px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	border-color: #6c757d;
	background-color: transparent;
	border: 1px solid #6c757d;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	margin-top: 0 !important;
	padding: .5rem 1rem !important;
	cursor: pointer;
}

footer {
	text-align: right;
	margin: 40px;
	font-size: 18px;
}