.skills .skill-box .mdi-language-java,
.skills .skill-box .mdi-database-search,
.skills .skill-box .mdi-language-html5,
.skills .skill-box:hover .mdi-language-css3,
.skills .skill-box:hover .mdi-language-javascript,
.skills .skill-box:hover .mdi-source-repository {
    color: rgba(255, 255, 255, 0.7);
    transition: color .30s ease-in-out;
}

/* Java */
.skills .skill-box:hover .mdi-language-java {
    color: #b3404a;
}

/* Database */
.skills .skill-box:hover .mdi-database-search {
    color: #423a47;
}

/* Html */
.skills .skill-box:hover .mdi-language-html5 {
    color: #774630;
}

/* CSS */
.skills .skill-box:hover .mdi-language-css3 {
    color: #3e7997;
}

/* JS */
.skills .skill-box:hover .mdi-language-javascript {
    color: #a69d57;
}

/* Repositories */
.skills .skill-box:hover .mdi-source-repository {
    color: #3e4041;
}

.color.mdi-bootstrap {
    color: #543c7c;
}

.color.mdi-sass {
    color: #bf608c;
    /* #bf608c */
}
.color.mdi-react {
    color: #00d8ff;
}
.color.mdi-angular {
    color: #dc0434;
}
.color.mdi-vuejs {
    color: #04c383;
}
.color.mdi-language-kotlin {
    color: #7970e3;
}
.color.mdi-kubernetes {
    color: #346ce4;
}
.color.mdi-language-python {
    color: #3673a5;
}
.color.mdi-emoticon-wink {
    color: #ffcc3b;
}